@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }




/* html{
    min-height: 100vh;
}
body {
    min-height: 100vh!important;
}

#root{
    min-height: 100vh;
} */

.intro{

    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 100vh;
    padding-top: 100px;
    background: white url(/src/img/hero-bg.jpg) no-repeat center fixed;
    background-size: cover;

    -webkit-animation: fade-in 2s linear; /* Safari 4+ */
    -moz-animation: fade-in 2s linear; /* Fx 5+ */
    -o-animation: fade-in 2s linear; /* Opera 12+ */
    animation: fade-in 2s linear; /* IE 10+, Fx 29+ */
}

.overlay {
    background: rgba(0,0,0,0.5);
    height: 100%;
    margin: 0;
    padding: 0;

}


.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
/*     height: 100vh; */
}

.contentInner {
    text-align: left;
    padding: 0 20px;
    padding-right: 50px;
}

.introTitle {
    margin-top: 150px;
    font-size: 24px;
    line-height: 1.1;
    font-weight: 700;
    color: #19c880;
    text-transform: uppercase;
}

.introSubtitle {
    margin-top: 25px;
    color: #fff;
    line-height: 1.3;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
}

.littleText {
    margin-top: 25px;
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
}

.btnGreen {
    margin-top: 60px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #19c880;
    padding: 15px 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s  linear;
}

.btnGreen:hover {
    background-color: #19c880 ;
}


@media(max-width: 991px){
    .btnGreen {
        margin-top: 40px;
    }

/*     .intro{
            height: 100%;
    }
    .overlay {
        height: 100%;
    } */
}


@media(max-width: 767px){

    .intro{
            height: 100vmax;
    }
    .overlay {
        height: 100vmax;
    } 

    .introTitle {
        font-size: 16px;
        margin-top: 80px;
    }

    .introSubtitle {
        font-size: 24px;
    }

    .littleText {
        font-size: 16px;
    }


}


@media(max-width: 440px) {
    .introTitle {
        font-size: 14px;
        margin-top: 80px;
    }

    .introSubtitle {
        font-size: 20px;
    }

    .littleText {
        font-size: 14px;
    }

}

@media(max-width: 340px) {}




